<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<h1>What's your Question?</h1>
		<form class="form-horizontal" action="/questions/<%= params["id"] %>/update">
			<input type="text" name="desc" class="form-control" value="<%= @question.content %>">
		
			<h2>Answers:</h2>

			<% counter = 0 %>
 			<% @answers.each do |answer| %>
	 			<div class="row">
	 				<label for="answer<%= counter %>" class="col-md-1 control-label"><%= (counter + 65).chr %></label>
					<div class="col-md-11">
						<input type="text" name="answer<%= counter %>" class="form-control" value="<%= answer.content %>">
					</div>

					<% counter += 1%>
				</div>
			<% end %>
			<div class="row">
 				<label for="answer<%= counter %>" class="col-md-1 control-label"><%= (counter + 65).chr %></label>
				<div class="col-md-11">
					<input type="text" name="new_answer" class="form-control">
				</div>
			</div>			
			
			<input type="submit" value="Update">
		</form>
		<div class="btn-group" role="group" aria-label="additional options">
			<a href="/questions" class="btn btn-default">View all Questions</a>
			<a href="/questions/<%= params["id"] %>/answer" class="btn btn-default">Answer</a>
			<a href="/questions/<%= params["id"] %>/results" class="btn btn-default">See Results</a>
		</div>
	</div>
</div>